<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>

<form role="form" action="" method="post" onsubmit="return validate(this);">
    <label>Create New Post (141 char):</label>
    <textarea name="posttext" id="posttext" class="form-control" rows="2" placeholder= "Express yourself!" maxlength="140"></textarea>
    <div id="textarea_feedback"></div>
    <input type="submit" value="Submit" id="submit"/>
    <input type="reset" value="Clear"/>
</form>


<script>
    $(document).ready(function() {
        var text_max = 140;
        $('#textarea_feedback').html(text_max + ' characters remaining');

        $('#posttext').keyup(function() {
            var text_length = $('#posttext').val().length;
            var text_remaining = text_max - text_length;

            $('#textarea_feedback').html(text_remaining + ' characters remaining');
        });
    });

    function validate(form) {
        valid = true;
        if ($('#posttext').val()==""){
            alert("You may not submit an empty post.");
            valid = false;
        }
        return valid;
    }
</script>
</body>
</html>